.message-from-ceo .innerContainer {
	max-width: 1600px;
	padding: 0;
}
.message-from-ceo .row {
	margin-right: 0!important;
	margin-left: 0!important;
}
.message-from-ceo .column-margins {
	padding: 5em;
}
.message-from-ceo .col {
	padding-left: 0!important;
	padding-right: 0!important;
}
.message-from-ceo .flex-gallery img {
	width: 100%;
}
.message-from-ceo .flex-gallery li {
	margin: 0;
}
.checker-board-content {
	padding: 5em;
}
.checker-board-img, .home-featured-img {
	position: relative;
}
.checker-board-img:before, .home-featured-img:before {
	position: absolute;
	content: '';
    top: 0;
    height: 100%;
    width: 1px;
    background-image: url(../img/textures/vertical-dashed-line-1px.png);
    content: "";
    z-index: 1;
    background-repeat: repeat-y;
}
.half_half_section:nth-of-type(1) .checker-board-img:before,
.half_half_section:nth-of-type(1) .home-featured-img:before {
	left: 5em;
}
.half_half_section:nth-of-type(2) .checker-board-img:before {
	right: calc(100% - 10em);
}
.half_half_section:nth-of-type(3) .checker-board-img:before {
	left: calc(100% - 10em);
}
.half_half_section:nth-of-type(2) .home-featured-img:before {
	right: calc(50% - 10em);
}
.half_half_section:nth-of-type(3) .home-featured-img:before {
	left: calc(50% - 10em);
}
.message-from-ceo .col:last-of-type .column-margins {
	padding: 0;
}
.half_half_section:nth-of-type(even) .checker-board-content {
	text-align: right;
}
.half_half_section .imgContainer {
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}
.half_half_section .imgContainer img {
	width: 100%;
	height: 100%;
}
.half_half_section .col-inner {
	height: 100%;
    display: flex;
}
.home-featured-img,
.videoOverlay a,
.wp-block-image figure,
.wp-block-image .aligncenter {
	position: relative;
    max-height: 425px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.wp-block-image.size-anamorphic img {
	max-height: 500px;
	object-fit: cover;
}
.home-featured-img img {
	width: 100%;
}
.checker-board-content > .col-inner {
	padding: 0;
}
.half_half_section .col-inner {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.half_half_section:nth-of-type(even) > .checker-board-content .col-inner {
	align-items: flex-end;
}
.half_half_section:nth-of-type(odd) > .checker-board-img .col-inner {
	margin-left: auto;
}
.half_half_section:nth-of-type(even) > .checker-board-img .col-inner {
	margin-right: auto;
}

// SLICK SLIDER
.slick-slider, .slick-list, .slick-track {
	height: 100%;
}
.slick-slide img {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
}

.home #message-from-ceo .button:hover {
	color: $brandBlue!important;
}
.button.blue_bg:hover {
	color: $brandBlue;
	border-color: $brandBlue;
	background-color: transparent;
}
.button.orange_bg:hover {
	color: $brandOrange;
	border-color: $brandOrange;
	background-color: transparent;
}
.button.navy_bg:hover {
	color: $brandNavy;
	border-color: $brandNavy;
	background-color: transparent;
}