header {
	background-color: #fff;
	padding: 25px 0;
	transition: 0.5s ease-in-out;
	position: fixed;
	width: 100%;
	z-index: 9999;
	transform: translateY(0);
	top: 0;
}
header.up {
	position: fixed;
	width: 100%;
	transition: 0.5s ease-in-out;
	transform: translateY(0);
	top: 0;
}
.header.down {
	transform: translateY(-105px);
	transition: 0.5s ease-in-out;
}
header.up ~ .hero, .hero {
	margin-top: 105px;
}
.hero {
	transition: 0.25s ease-in-out;
}
.wrapper {
	transition: 0.25s ease-in-out;
}
header.down ~ .wrapper, header.up ~ .wrapper {
	padding-top: 0;
	transition: 0.25s ease-in-out;
}
.nav {
	float: right;
}
.nav ul {
	padding: 0;
}
.nav li {
	display: inline-block;
	margin-left: 50px;
}
.nav li a {
	@extend %franklinGothicBold;
	color: #000;
}
.menuToggle a, .downloadFinancials a {
	position: relative;
}
.menuToggle a {
	padding-right: 25px;
    display: block;
}
.downloadFinancials a {
	padding-right: 20px;
}

.downArrow::before, .downArrow::after {
	position: absolute;
	bottom: 0;
	width: 2px;
	height: 8px;
	content: "";
	background-color: #000;
	border-radius: 10px;
}

.downArrow::before {
	right: calc(100% + 1px);
	transform: rotate(-45deg);
}

.downArrow::after {
	left: calc(100% + 1px);
	transform: rotate(45deg);
}
.blue-inline-right-arrow {
	position: relative;
	display: inline-block;
	font-size: 19px;
	color: $brandBlue;
	font-weight: bold;
	padding-right: 20px;
}
.downArrowContainer {
	width: 16px;
	height: 16px;
	display: inline-block;
	text-align: center;
	position: absolute;
    right: 0;
    top: 3px;
}
.blue-inline-right-arrow::after {
	background-image: url(../img/icons/arrow-blue.svg);
	transform: rotate(-90deg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 13px;
    height: 17px;
	position: absolute;
	content: "";
	top: 4px;
	right: 0;
}
.downArrow {
	position: relative;
	width: 2px;
	height: 14px;
	background-color: #333;
	border-radius: 10px;
	display: inline-block;
}

.menuContents .downArrow::before, .menuContents .downArrow::after {
    bottom: -4px;
    height: 16px;
}

.menuContents nav {
	float: none;
}

.menuContents .downArrow::before {
    right: calc(100% + 3px);
}

.menuContents .downArrow::after {
    left: calc(100% + 3px);
}

.menuContents .downArrow {
    height: 28px;
    background-color: #333;
}

.menuContents .downArrowContainer {
    width: 30px;
    height: 30px;
    right: -5px;
    top: 12px;
}

// OVERLAY MENU
.menuContainer {
	background-color: rgba(255, 255, 255, .95);
	position: fixed;
	overflow: auto;
	top: 104px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out;
}
.menuOpen .menuContainer {
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease-in-out;
}
.menuContainer h1 {
	text-transform: uppercase;
	@extend %franklinGothicBold;
	font-size: 45px;
}
.menuContainer .innerContainer {
	padding-top: 4em;
	padding-bottom: 4em;
}
html.menOpen, body.menuOpen {
	overflow: hidden;
	//position: fixed;
	width: 100%;
}

// HAMBURGER MENU
.hamburger {
	transform: translateX(0);
	transition: 0.5s ease-in-out;
	z-index: 999999;
	outline: none;
	padding: 0;
	margin-left: 10px;
	right: 0;
	position: absolute;
	top: -1px;
}
.hamburger.is-active:hover, .hamburger:hover {
	opacity: 1;
}
.hamburger-box {
	width: 15px;
	vertical-align: middle;
	height: 15px;
}
.hamburger-inner, .hamburger--spin .hamburger-inner::before, .hamburger--spin .hamburger-inner::after {
	background-color: #000;
	width: 15px;
	height: 2px;
	transition: 0.25s ease-in-out;
}
.menuToggle:hover .hamburger-inner, 
.menuToggle:hover .hamburger-inner::before, 
.menuToggle:hover .hamburger-inner::after,
.menuToggle:hover .hamburger.is-active .hamburger-inner,
.menuToggle:hover .hamburger.is-active .hamburger-inner::before, 
.menuToggle:hover .hamburger.is-active .hamburger-inner::after {
	background-color: $brandBlue;
	transition: 0.25s ease-in-out;
}
.hamburger-inner {
	margin-top: -1px;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}
.hamburger-inner::before {
	top: -5px;
}
.hamburger-inner::after {
	bottom: -5px;
}

// CONTENTS SECTION IN MENU
.menuContents h3 {
	@extend %franklinGothicBold;
}

.nav a {
	color: $brandNavy;
	transition: 0.25s ease-in-out;
}
.downArrow, 
.downArrow::after, 
.downArrow::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after {
	transition: 0.25s ease-in-out;
}
.nav a:hover {
	color: $brandBlue;
	transition: 0.25s ease-in-out;
}
.nav a:hover .downArrow, .nav a:hover .downArrow::after, .nav a:hover .downArrow::before {
	background-color: $brandBlue;
	transition: 0.25s ease-in-out;
}
.menuContainer .downloadFinancials a {
	padding-right: 30px;
}

.menuContainer .downloadFinancials a::after {
	width: 22px;
    height: 24px;
    top: 18px;
}

// OVERLAY MENU
.menuContents .nav ul {
	padding: 0;
}
.menuContents .nav > ul {
	-webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    column-gap: calc(15% + 35px);
}
.menuContents .nav li {
	display: block;
	margin-left: 0;
}
.menuContents .nav a {
	font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}
.menuContents .nav li {
	margin-bottom: 1em;
}
.menuContents .nav .sub-menu {
	margin-bottom: 30px;
}
.menuContents .nav .sub-menu a {
	@extend %franklinGothicBold;
    font-weight: 600;
    font-style: normal;
	font-size: 19px;
}
/*
.menu-item-384 {
	break-after: column;
	break-inside: avoid;
	break-after: always;
}
*/

// SOCIAL MEDIA SHARE BUTTONS
.at-label {
	display: none;
}

.at-style-responsive .at-share-btn {
    border-radius: 50px!important;
	background-color: $brandNavy!important;
	border: 1px solid $brandNavy!important;
	transition: 0.25s ease-in-out;
	width: 30px!important;
	height: 30px!important;
}
span.at-icon-wrapper  {
	width: 100%!important;
	height: 100%!important;
	display: flex!important;
    align-items: center;
    justify-content: center;
}
.at-icon-wrapper svg  {
	width: 30px!important;
	height: 30px!important;
	transition: 0.25s ease-in-out;
}
.at-resp-share-element .at-share-btn:hover {
	transform: none!important;
	transition: 0.25s ease-in-out;
	background-color: transparent!important;
}
.at-resp-share-element .at-share-btn:hover .at-icon-wrapper svg {
	fill: $brandNavy!important;
	transition: 0.25s ease-in-out;
}

// ERROR PAGE
.error404 .menuContainer ~ .socialMedia {
	display: none;
}