.top-bottom-padding {
	padding: 4em 0;
}

// HORIZONTAL SPACING
.innerContainer.maxWidth850 {
	max-width: 980px;
}
.innerContainer.topBottomPadding,
.innerContainer.top-bottom-padding,
.topBottomPadding,
.top-bottom-padding {
	padding-bottom: 4em;
	padding-top: 4em;
}
.innerContainer.topPadding,
.innerContainer.top-padding,
.topadding,
.top-padding {
	padding-top: 4em;
}
.innerContainer.bottomPadding,
.innerContainer.bottom-padding,
.bottomPadding,
.bottom-padding {
	padding-bottom: 4em;
}
section {
	position: relative;
}
// ROWS & COLUMNS
.row.gutter_space_1 {
	margin-left: 0;
	margin-right: 0;
}
.row.gutter_space_1 > .col {
	padding-left: 0;
	padding-right: 0;
}
.row.gutter_space_2 {
	margin-left: -2rem;
	margin-right: -2rem;
}
.row.gutter_space_2 > .col {
	padding-left: 2rem;
	padding-right: 2rem;
}
.row.gutter_space_3 {
	margin-left: -3rem;
	margin-right: -3rem;
}
.row.gutter_space_3 > .col {
	padding-left: 3rem;
	padding-right: 3rem;
}
.row.gutter_space_0 {
	margin-right: 0;
	margin-left: 0;
}
.row.gutter_space_0 > .col {
	padding-left: 0;
	padding-right: 0;
}

// SECTIONS
.section {
	padding: 4em 0;
	position: relative;
}

// PAGE HEADER
.pageHeader {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $brandNavy;
	position: relative;
	margin-top: 105px;
	//overflow: hidden;
}
.pageHeader::before, .message-from-board-chair-and-ceo .pageHeader::after {
	position: absolute;
    background-image: url(../img/textures/header-sketch.png);
    width: 100%;
    height: 100%;
    //background-size: 55%;
    top: 120px;
    right: 0;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 99;
	content: "";
}
.pageHeader .imgContainer {
	margin-bottom: 20px;
}
.row.pageHeaderBgGrid {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 100%;
}
.row.pageHeaderBgGrid > .col {
	padding-right: 0;
	padding-left: 0;
}
.iconAndTitleContainer {
	margin-left: 80px;
	padding: 50px 0;
}
.pageHeader h1 {
	max-width: 350px;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 0;
}
.pageHeader .innerContainer, .verticalStitch {
	position: relative;
}
.pageHeader .innerContainer::before, .ghostVertStitchContainer, .hero .innerContainer::before {
	position: absolute;
    top: 0;
    left: 4em;
    height: 100%;
    width: 1px;
    background-image: url(../img/textures/vertical-dashed-line-1px.png);
    content: "";
    z-index: 1;
	background-repeat: repeat-y;
}

// CUSTOMIZED SECTIONS
#working-with-community {
	padding-top: 0;
}
#queens-marque {
	padding: 0;
}
#working-with-community .col:first-of-type > p {
	margin-top: 0;
}
#working-with-community h2 {
	padding-top: 80px;
}

.flex-spacer {
	height: 2em;
}
.flex-spacer-tall {
	height: 4em;
}
.hidden {
	opacity: .5;
}

// MAX WIDTH STYLES
.innerContainer.max-width-1080 {
	max-width: 1080px;
}
.innerContainer.max-width-800 {
	max-width: 800px;
}