.blue_bg {
	background-color: $brandBlue;
}
.orange_bg {
	background-color: $brandOrange;
}
.navy_bg {
	background-color: $brandNavy;
}

.row.noPadding {
	margin-left: 0;
	margin-right: 0;
}

.noPadding > .col {
	padding: 0;
	display: flex;
    align-items: center;
	overflow-x: hidden;
}

.col-inner {
	padding: 5em;
	max-width: 850px;
}
.text_on_left {
	text-align: right;
}
.reverse {
	text-align: left;
}
.text_on_left .col-inner {
	max-width: 850px;
    margin-left: auto;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.reverse .col-inner {
	max-width: 850px;
    margin-right: auto;
	margin-left: 0;
	align-items: flex-start;
}
.checkerBoardContainer {
	position: relative;
}
.col-inner .imgContainer {
	max-width: 130px;
	margin-bottom: 20px;
}
.checkerBoardContainer .verticalDashedLine {
	position: absolute;
    height: 100%;
    width: 100%;
    max-width: calc(1280px - 4em);
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 4em;
    background-image: url(../img/textures/vertical-dashed-line-1px.png);
    background-position: left 2em top;
    background-repeat-x: no-repeat;
    pointer-events: none;
}
.checkerBoardContainer:nth-of-type(even) .verticalDashedLine {
	background-position: right 2em top;
}
.homePagePagesFeed:nth-of-type(odd) {
	flex-direction: row-reverse;
}
.homePagePagesFeed:nth-of-type(even) .ghostVertStitchContainer {
	background-position: right top;
}
//.homePagePagesFeed:nth-last-of-type(even) .col-inner {
	//display: flex;
    //flex-direction: column;
    //align-items: flex-end;
	//margin-left: auto;
//}
.homePagePagesFeed:nth-last-of-type(even) .col-inner, .homePagePagesFeed:nth-last-of-type(even) .col-inner .imgContainer, .homePagePagesFeed:nth-last-of-type(even) .col-inner .imgContainer img {
	margin-left: auto;
}